---
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

@import "bootstrap";
@import "bootstrap/theme";
@import "base";


.social{
  height: 34px;
  padding: 8px 15px;
  line-height: 10px;
}