RewriteEngine on
RewriteRule ^tracks\/(.*?)\.html$ /tracks/$1/ [R=301,L]
Redirect gone /wiki/
Redirect gone /w/
Redirect gone /track/

RewriteRule ^(luna|galaxie-500|damon-and-naomi|dean-wareham|dean-and-britta)/shows/(([0-9]{4})-[0-9]{2}.*)\.html$ /$1/shows/$3/$2/ [R=301,L]
RewriteRule ^(luna|galaxie-500|damon-and-naomi|dean-wareham|dean-and-britta)/releases/(.*)\.html$ /$1/releases/$2/ [R=301,L]

ErrorDocument 410 /error.html
ErrorDocument 404 /error.html
