{% assign levels = page.url | split: '/' %}
{% assign artistlevel = levels[1] %}
{% assign artist = site.data.artists[artistlevel] %}
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<div>
	<div>
		<nav aria-label="breadcrumb">
			<ul>
				<li><a href="/">Home</a></li>
				{% if levels.size == 0 %}
                <li>Discography / Gigography</li>
                {% else %}
				<li><a href="/database/">Discography / Gigography</a></li>
                {% endif %}
	
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
				<li>{% if artist and forloop.index == 1 %}{{ artist.name }}{% elsif page.title  %}{{ page.title}}{% else %}{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}{% endif %}</li>
	    {% else %}
				<li><a href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{% if artist and forloop.index == 1 %}{{ artist.name }}{% else %}{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}{% endif %}</a></li>
			  {% endif %}
			  {% endfor %}
			</ul>
			</nav>
			</div>
			</div>
