{% assign releases = site.data.discography[page.datafile]  %}
{% assign master = site.data.discography[page.datafile] | find: "Format", "MASTER" %}

<h2>{{ master["Artist"] }} - {{ master["Title"] }}</h2>

{% for row in releases offset: 1 %}
{% assign format = row["Format"] %}
<div class="card mb-2">
<div class="card-body">
<div class="clearfix">
{% if row["Sleeve"]  %}
<div class="w-25 pe-2 pr-2 float-end"><img src="{{ row['Sleeve'] }}" class="img-fluid img-thumbnail" alt="{{ row['Title'] }} sleeve" /></div>
{% endif %}

<h3 class="card-title" id="{{ row["Title"] | append: row["CatNo"] | slugify }}">{{ row["Title"] }} <span class="small">({{ row["Label"] }}, {{ row["Date"] }})</h3>
<p><em>{{ format }} / {{ row["CatNo"] }}</em></p>
{% if row["Notes"].size > 0 %}
<p>{{ row["Notes"] }}</p>
{% endif %}
</div>
<div class="card-text ">
{% assign tracklists = "A-B-C-D" | split: "-" %}
{% for tracklist in tracklists %}
{% assign side = forloop.index %}
{% for disc in row[tracklist] %}
  {% if disc %}
  {% assign tracks = disc | split: "|" %}
  <ul class="list-group list-group-flush">
  <li class="list-group-item text-muted small">{% if format contains "CD" %}Disc {{ side }}{% else %}{{ tracklist }}{% endif %}</li>
  {% for track in tracks %}
							{% if track contains '[' %}{% assign tracktitle = track | split: " [" %} {% assign ttitle = tracktitle[0] %}{% assign tnotes = tracktitle[1] | remove: "]" %}{% else %}
							{% assign ttitle = track %}{% assign tnotes = nil %}
							{% endif %}
							<li class="list-group-item">
							{% if ttitle contains '^' %}
								{{ttitle | remove_first:'^'}}{% if tnotes %}&nbsp;({{track.notes}}){% endif %}
							{% else %}
								<a href="/database/tracks/{{ ttitle | replace: '&','and' | remove: "'" | remove: "." | slugify }}/">{{ttitle}}</a>{% if tnotes %}<em class="text-muted">&nbsp;({{tnotes}})</em>{% endif %}
							{% endif %}
							</li>
  {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
{% endfor %}
</div>
</div>
</div>
{% endfor %}
