{% assign releases = site.data.discography[page.datafile]  %}
{% assign master = site.data.discography[page.datafile] | find: "Format", "MASTER" %}

<h2>{{ master["Artist"] }} - {{ master["Title"] }}</h2>

{% for row in releases offset: 1 %}
{% assign format = row["Format"] %}
<div class="card mb-2">
<div class="card-body">
<div class="clearfix">
{% if row["Sleeve"]  %}
<div class="w-25 pe-2 pr-2 float-end"><img src="{{ row['Sleeve'] }}" class="img-fluid img-thumbnail" alt="{{ row['Title'] }} sleeve" /></div>
{% endif %}

<h3 class="card-title">{{ row["Title"] }} <span class="small">({{ row["Label"], {{ row["Date"] }})</h3>
<p><em>{{ format }} / {{ row["CatNo"] }}</em></p>
</div>
<div class="card-text ">
{% assign tracklists = "A-B-C-D" | split: "-" %}
{% for tracklist in tracklists %}
{% assign side = forloop.index %}
{% for disc in row[tracklist] %}
  {% if disc %}
  {% assign tracks = disc | split: "|" %}
  <ul class="list-group list-group-flush">
  <li class="list-group-item text-muted small">{% if format contains "CD" %}Disc {{ side }}{% else %}{{ tracklist }}{% endif %}</p>
  {% for track in tracks %}
  <li class="list-group-item"><a href="/database/tracks/{{track | slugify}}">{{track}}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
{% endfor %}
</div>
</div>
</div>
{% endfor %}
