<script src="/js/galleria-1.4.2.min.js"></script>
<script src="/js/plugins/flickr/galleria.flickr.min.js"></script>
<script>
	Galleria.loadTheme('/js/themes/classic/galleria.classic.min.js');
	{% assign count = 0 %}
	{% for gallery in page.flickr %}
			{% assign count = count | plus: 1 %}
		// Initialize Galleria
		Galleria.run('#galleria-{{count}}', {
			height: 0.75,
			responsive: true,
			flickr: 'set:{{gallery.id}}',
			flickrOptions: {
				sort: 'date-posted-asc'
				}
		});
	{% endfor %}
</script>