<header class="site-header">
    <div class="container">
        <h1>{{ site.title }}</h1>
          <div>
              <ul class="nav nav-pills" role="tablist">
                  <li role="presentation" class="active"><a href="/">Home</a></li>
                  {% for artistslugs in site.data.artists %}
                  {% assign artistslug = artistslugs[0] %}
                  {% assign artisthead = site.data.artists[artistslug] %}
                  <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">{{artisthead.name}}
                          <span class="caret"></span>
                      </a>
                      <ul id="menu-{{artisthead.slug}}" class="dropdown-menu" role="menu">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{artisthead.slug}}/">{{artisthead.name}} home</a></li>
                          <li role="presentation" class="divider"></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{artisthead.slug}}/releases/">{{artisthead.name}} releases</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{artisthead.slug}}/shows/">{{artisthead.name}} shows</a></li>
                      </ul>
                  </li>
                  {% endfor %}


                  <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                          Lists
                          <span class="caret"></span>
                      </a>
                      <ul id="menu-lists" class="dropdown-menu" role="menu">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/tracks/index.html">A-Z of tracks</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/tracks/covers.html">A-Z of cover versions</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/tracks/chords.html">A-Z of chords</a></li>
                      </ul>
                  </li>
            </ul>
                <h2>
                      {{ newtitle }}
                </h2>
          </div>
    </div>
</header>
