<header class="site-header">
    <div class="container">
        <h1>{{ site.title }}</h1>
          <div>
              <ul class="nav nav-pills" role="tablist">
                  <li role="presentation" class="active"><a href="/">Home</a></li>
                  {% for artist in site.ahfow_artists %}  
                  <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                          {{artist.artist}}
                          <span class="caret"></span>
                      </a>
                      <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/{{artist.artistslug}}/index.html">{{artist.artist}} biography</a></li>
                          <li role="presentation" class="divider"></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/{{artist.artistslug}}/releases/index.html">{{artist.artist}} discography</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/{{artist.artistslug}}/shows/index.html">{{artist.artist}} gigography</a></li>
                      </ul>
                  </li>
                  {% endfor %}


                  <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                          Lists
                          <span class="caret"></span>
                      </a>
                      <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/tracks/index.html">A-Z of tracks</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/tracks/covers.html">A-Z of cover versions</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/tracks/guitar.html">A-Z of chords</a></li>
                      </ul>
                  </li>
              </ul>

                <header>
                    <h2>
                      {% case page.layout %}
                        {% when 'show' %}
                          {{page.show-date|date: "%-d %B %Y"}} - {{page.artist-name}} - {{ page.show-venue }}
                        {% when 'release' %}
                          {{page.artist}} - {{page.title }}
                        {% else %}
                          {{ page.title }}
                      {% endcase %}
                    </h2>
                </header>

          </div>
    </div>
</header>
