<div class="card">
	    <div class="card-body">
		<h2 class="card-title h6">Post categories</h2>
		<ul class="list-inline list-group-inline">
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-4" href="/category/galaxie-500/">galaxie 500</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-5" href="/category/my-record-collection/">my record collection</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-3" href="/category/luna/">luna</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-3" href="/category/news/">news</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-4" href="/category/audio/">audio</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-4" href="/category/damon-naomi/">damon &amp; naomi</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-6" href="/category/miscellaneous/">miscellaneous</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-3" href="/category/dean-britta/">dean &amp; britta</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-4" href="/category/dean-wareham/">dean wareham</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-5" href="/category/editorial/">editorial</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-6" href="/category/after-luna/">after luna</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-5" href="/category/admin/">admin</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-6" href="/category/lost-tracks/">lost tracks</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-4" href="/category/video/">video</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-5" href="/category/pictures/">pictures</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-5" href="/category/other-people-s-blogs/">other people's blogs</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-5" href="/category/13-most-beautiful/">13 most beautiful</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-4" href="/category/originals/">originals</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-6" href="/category/fortune/">fortune</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link fs-5" href="/category/artefacts/">artefacts</a></li>
					<li class="list-inline-item inline-group-item-action"><a class="card-link" href="/category/">All categories</a></li>
		</ul>	
		</div>
</div>



