<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Facebook</h3>
  </div>
  <div class="panel-body">
  <div class="fb-page" data-href="https://www.facebook.com/fullofwishes" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/fullofwishes"><a href="https://www.facebook.com/fullofwishes">A Head Full of Wishes</a></blockquote></div></div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">A Head Full of Wishes</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><a href="http://www.fullofwishes.co.uk">News, reviews and articles</a></li>
      <li><a href="http://oblivious.fullofwishes.co.uk" >Oblivious (Tumblr)</a></li>
      <li><a href="http://www.facebook.com/fullofwishes/">Facebook</a></li>
      <li><a href="http://twitter.com/ahfow/">@ahfow on Twitter</a></li>
      <li><a href="http://instagram.com/ahfow/">@ahfow on Instagram</a></li>
      <li><a href="http://twitter.com/grange85/">@grange85 on Twitter</a></li>
    </ul>
  </div>
</div>

{% if page.layout == 'gigography' and artist.slug != 'galaxie-500' %}
<div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Subscribe to {{artist.name}} show email updates</h3>
            </div>
            <div class="panel-body">
<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=ahfow-upcoming-{{artist.slug}}-shows', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="ahfow-upcoming-{{artist.slug}}-shows" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>
            </div>
          </div>
{% endif %}


<a class="twitter-timeline" href="https://twitter.com/ahfow" data-widget-id="609132854925262848">Tweets by @ahfow</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>