<div>
	<div>
		<h2>Post categories</h2>
		<ul>
			<li><a href="/category/luna/">luna</a></li>
			<li><a href="/category/news/">news</a></li>
			<li><a href="/category/galaxie-500/">galaxie 500</a></li>
			<li><a href="/category/audio/">audio</a></li>
			<li><a href="/category/damon-naomi/">damon &amp; naomi</a></li>
			<li><a href="/category/dean-britta/">dean &amp; britta</a></li>
			<li><a href="/category/dean-wareham/">dean wareham</a></li>
			<li><a href="/category/editorial/">editorial</a></li>
			<li><a href="/category/admin/">admin</a></li>
			<li><a href="/category/lost-tracks/">lost tracks</a></li>
			<li><a href="/category/video/">video</a></li>
			<li><a href="/category/pictures/">pictures</a></li>
			<li><a href="/category/other-people-s-blogs/">other people's blogs</a></li>
			<li><a href="/category/13-most-beautiful/">13 most beautiful</a></li>
			<li><a href="/category/originals/">originals</a></li>
			<li><a href="/category/artefacts/">artefacts</a></li>
			<li><a href="/category/my-record-collection/">my record collection</a></li>
		</ul>	
		<p><a href="/category/">All categories</a></p>
	</div>
</div>
