<div class="container">
	<div class="row">
		<div class="col-md-12 social">
			<span class="twitter">
            	<a
					href="https://twitter.com/share"
				    class="twitter-share-button"
				    data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
				    data-via="ahfow"
				    data-related="grange85"
				    data-hashtags="ahfow">
				</a>
			</span>
			<span class="facebook">
				<iframe
					src="https://www.facebook.com/plugins/like.php?href={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&amp;show_faces=false&amp;layout=button_count" 
					scrolling="no" 
					frameborder="0" 
					style="height: 21px; width: 100px" 
					allowTransparency="true">
				</iframe>
			</span>
		</div>
	</div>
</div>
