{% assign curdate = site.time | date: '%s' | minus: 86400 %}
<h3 id="upcoming">Upcoming {{artist.name}} shows</h3>
<div><a href="{{artist.upcoming-shows-feed}}">Subscribe to a feed of upcoming {{artist.name}} shows </a></div>
<table>
{% for show in shows %}{% assign showdate = show.date | date: '%s' %}{% assign showdate = showdate | plus: 0 %}{% if showdate >= curdate %}
{% assign day = show.date|date: "%-d" %}{% capture ordinaldate %}{% case day %}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{show.date|date: "%B %Y"}}{% endcapture %}

      <tr>
        <th>{{ ordinaldate }}</th>
        <td><a href="{{ site.baseurl }}/{{artist.slug}}/shows/{{ show.slug }}-{{ show.date | date: "%Y-%m-%d" }}{{ show.disambiguate }}-{{ show.venue-slug }}/">{{ show.venue }}</a><br/>
          {% if show.cancelled %}<span class="show-details">Cancelled</span>{% endif %}
          {% if show.artistname %}<span class="show-details">{{ show.artistname }}</span>
          {% else %}<span class="show-details">{{ artist.name }}</span>
          {% endif %}
          {% if show.series %}<span class="show-details">{{ show.series }}</span>{% endif %}
        </td>
      </tr>{% endif %}{% endfor %}
</table>

