{% assign artist = site.data.artists[page.artistslug] %}

{% case artist.slug %}
{% when 'galaxie-500' %}
  {% assign shows = site.galaxie-500-shows %}
{% when 'luna' %}
  {% assign shows = site.luna-shows %}
{% when 'damon-and-naomi' %}
  {% assign shows = site.damon-and-naomi-shows %}
{% when 'dean-and-britta' %}
  {% assign shows = site.dean-and-britta-shows %}
{% when 'dean-wareham' %}
  {% assign shows = site.dean-wareham-shows %}
{% endcase %}


{% assign curdate = site.time | date: '%s' %}
{% assign curdate = curdate | plus: 0 %}
<h3 id="upcoming">Upcoming {{artist.name}} shows</h3>
<div class="row"><div class="pull-right"><a href="/{{artist.slug}}/shows/upcoming.xml"><span class="rss-icon">{% icon fa-rss %}</span> Subscribe to a feed of upcoming {{artist.name}} shows </a></div></div>
<ul>
{% for show in shows %}
    {% assign showdate = show.show-date | date: '%s' %}
	{% assign showdate = showdate | plus: 0 %}
    {% if showdate >= curdate %}
   	    <li><a href="{{ show.url | prepend: site.baseurl}}">{{show.show-date|date: "%-d %B %Y"}} - {{artist.name}} - {{ show.show-venue }}</a></li>
    {% endif %}
{% endfor %}
</ul>