/**
 * Basic styling
 */
$grid-float-breakpoint: 1280;
$brand-primary: #2e4096;

html, body {
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

figure {
    max-width: 100%;
}

figcaption {
    font-size: 0.8em;
    text-align: center;
}

.footer {
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: $brand-primary;
}

.page-header {
	margin:0;
	padding: 0;
	border:0;
}
.page-header h1 {
	margin: 0;
}
