// -------------- CUSTOM CSS -------------- //
span.show-details {
	font-size: 0.8em;
	color: #33c;
	background-color: #ddd;
	text-transform: uppercase;
}

nav.show-list ul {
  list-style-type: none; 
  margin:0; 
  padding:0;
}

nav.show-list ul li {
  margin:0; 
  padding:0;
  display:inline;
}
