---
layout: default
---
{%-include back_link.html-%}
{{ page.list }}
{% case page.list %}
	{% when 'covers' %}
		{% assign tracks = site.data.discography.tracks | where: "original", empty | sort: 'sort-title' %}
		{% assign page_title = "Covers" %}
	{% else %}
		{% assign tracks = site.data.discography.tracks | sort: 'sort-title' %}
		{% assign page_title = "A-Z of tracks" %}
{% endcase %}
{% assign tracks = tracks | group_by: "group-by" %}


<div>
	<div>
		<nav>
		    <ul>
		      <li class="nav-item {% if page.list == 'full' %}active{%endif%}"><a href="/database/tracks/">Full list</a></li>
		      <li class="nav-item {% if page.list == 'covers' %}active{%endif%}"><a href="/database/tracks/covers/">Covers</a></li>
		    </ul>
		</nav>
	</div>
</div>


<div>
	<div>

	<div >
	  	<div>
	  		<ul>
			{% for section in tracks %}	
				<li>
					<a href="#{{section.name}}">{{section.name}}</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

{% for section in tracks %}
		<div id="{{section.name}}">
			<div>
				<h3>{{ section.name }}</h3>
			</div>
			<div>

				<ul>
				{% for track in section.items %}
				<li><a href="{{ track.slug | prepend: "/tracks/" | prepend: site.baseurl | append: "/" }}">{{ track.title }}</a> {% if track.authors %}<em>({{track.authors}})</em>{% endif %}{% if track.original %} - Originally by: {{track.original}}{% endif %}</li>
				{% endfor %}
				</ul>
				<a href="#top">top</a>
			</div>
		</div>
	
{% endfor %}
</div>
</div>
