---
layout: default
---
<div class="row">
    <div class="col-md-12">
                <nav>
                  <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
        <li><a href="/{{page.artistslug}}">{{page.artist}}</a></li>
        <li>{{page.artist}} releases</li>
    </ul>
    </nav>
    </div>
</div>


{% assign releases = site.releases | where: "artistslug", page.artistslug | group_by: "section" %}

{% assign releases = releases | sort: 'name' %}

{% for section in releases %}
{% assign status = '' %}
{% assign section_name = section.name | split: "-" | last | capitalize%}
<h2>{{section_name}}</h2>
  {% assign release_section = section.items | sort: 'initial_release_date' %}
<div class="row">
  {% for release in release_section %}
  {% capture status %}{% cycle section_name: 'odd', 'even' %}{% endcapture %}
 	<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><a href="{{ release.url | prepend: site.baseurl }}">{{ release.albumname }}</a></h4>
      </div>
      <div class="panel-body">
        <a href="{{ release.url | prepend: site.baseurl }}">
                        {%  capture imagetest %}X{{release.imageurl}}{% endcapture %}
                        {% if imagetest == 'X' %}
                            <img src="http://media.fullofwishes.co.uk/00-misc/ahfow-web/sleeve-required-new.jpg">
                        {% else %}
                            <img src="{{release.imageurl}}">
                        {% endif %}
        </a>
      </div>
    </div>
	</div>
  {% if status == 'even' %}
    </div><div class="row">
  {% endif %}
  {% endfor %}  <!-- page-category -->
</div>
{% endfor %}