---
layout: default
---
	{% assign artist = site.data.artists[page.artistslug] %}
    {% assign thisyear = "now" | date: "%Y" %}
	{% capture page_title %}{{artist.name | append: ' shows'}}{% if page.year > 1 %} - {{page.year}}{% endif %}{% endcapture %}
			<div class="row">
				<div class="col">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    				<ul class="list-inline">
						{% for year in artist.yearsactive %}
								<li class="list-inline-item pb-2"><a class="btn btn-outline-primary {% if year == page.year %}disabled active{% endif %}" href="/database/{{artist.slug}}/shows/{{year}}/">{{year}}</a></li>
						{% endfor %}
							</ul>
						</nav>
					<div class="alert alert-warning" role="alert">The lists of shows are far from complete! If you know of any that are missing <a href="mailto:andy@fullofwishes.co.uk">please get in touch</a>.</div>
				</div>
			</div>



			{% case artist.slug %}
				{% when 'galaxie-500' %}
					{% assign shows = site.data.discography.galaxie-500-shows | where: "year", page.year | sort: "date" %}
				{% when 'luna' %}
                {% if page.year %}
					{% assign shows = site.data.discography.luna-shows | where: "year", page.year | sort: "date" %}
                {% else %}
					{% assign shows = site.data.discography.luna-shows | where_exp: "item", "item.year >= thisyear" | sort: "date" %}
                {% endif %}
				{% when 'damon-and-naomi' %}
					{% assign shows = site.data.discography.damon-and-naomi-shows | where: "year", page.year | sort: "date" %}
				{% when 'dean-and-britta' %}
					{% assign shows = site.data.discography.dean-and-britta-shows | where: "year", page.year | sort: "date" %}
			{% endcase %}
			<div class="row">
				<div class="col">
					{% if page.section == 'topindex' %}
						{% if artist.slug != 'galaxie-500' %}
                        {% include upcoming.html %}
						{% endif %}
				{% else %}
					{% if shows %}
						<table class="table table-striped">
						{% for show in shows %}
							{% unless show.cancelled %}
							{% assign day = show.date|date: "%-d"  %}
						  {% if show.date-uncertain.day %}{% assign day = "" %}{% endif %}
							{% capture ordinaldate %}{% case day %}{% when '' %}{{ day }}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{show.date|date: "%B %Y"}}{% endcapture %}

						<tr>
							<th class="col-md-3">{{ ordinaldate }}</th>
							<td class="col-md-7"><a href="{{ site.baseurl }}/{{artist.slug}}/shows/{{ show.slug }}-{{ show.date | date: "%Y-%m-%d" }}-{{ show.venue-slug }}/">{{ show.venue }}</a><br/>
          {% if show.cancelled %}<span class="badge text-bg-danger">Cancelled</span>{% endif %}
          {% if show.artistname %}<span class="badge text-bg-success">{{ show.artistname }}</span>
          {% else %}<span class="badge text-bg-success">{{ artist.name }}</span>
          {% endif %}
          {% if show.series %}<span class="badge text-bg-primary">{{ show.series }}</span>{% endif %}
							</td>
						</tr>
						{% endunless %}
						{% endfor %}
						</table>
					{% endif %}
				{% endif %}
				</div>		
			</div>
