<!DOCTYPE html>
<html>
	{% assign artist = site.data.artists[page.artistslug] %}
{% if page.description %}{% assign description = page.description %}{% else %}
	{% capture description %}Collection of all known shows played by {{artist.name}} {% if page.year %} in {{page.year}}{%else%}{% unless artist.slug=='galaxie-500' %} including any forthcoming shows{% endunless %}{% endif %}{% endcapture %}
{% endif %}
	{% capture newtitle %}{{artist.name}} shows{% endcapture %}
	{% include head.html %}
<body>
	{% include tagmanager.html %}
	{% include header.html %}
	{% include social.html %}
	<div class="container">
		<div class="wrapper col-md-9">
			<div class="row">
				<div class="col-md-12">
					<nav>
						<ul class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li><a href="/{{artist.slug}}">{{artist.name}}</a></li>
							{% if page.year %}
								<li><a href="/{{artist.slug}}/shows">{{artist.name}} shows</a></li>
								<li>{{page.year}}</li>
							{% else %}
								<li>{{artist.name}} shows</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
			<nav>
				<h3 id="upcoming">Archive of {{artist.name}} shows</h3>
					<ul class="list-inline">
					{% for year in artist.yearsactive %}
						<li role="presentation"><a href="/{{artist.slug}}/shows/{{year}}/" class="list-group-item 
							{% if year == page.year %}
								active 
							{% endif %}
						">{{year | append: ""}}</a></li>
					{% endfor %}
				</ul>
			</nav>
			<div class="row alert alert-warning" role="alert">{% icon fa-exclamation-triangle %} The lists of shows are far from complete! If you know of any that are missing <a href="mailto:andy@fullofwishes.co.uk">please get in touch</a>.</div>

			{% case artist.slug %}
				{% when 'galaxie-500' %}
					{% assign shows = site.galaxie-500-shows | where: "category", page.year %}
				{% when 'luna' %}
					{% assign shows = site.luna-shows | where: "category", page.year %}
				{% when 'damon-and-naomi' %}
					{% assign shows = site.damon-and-naomi-shows | where: "category", page.year %}
				{% when 'dean-and-britta' %}
					{% assign shows = site.dean-and-britta-shows | where: "category", page.year %}
				{% when 'dean-wareham' %}
					{% assign shows = site.dean-wareham-shows | where: "category", page.year %}
			{% endcase %}
			<div class="row">
				<div class="col-md-12">
					{% if page.section == 'topindex' %}
						{% if artist.slug != 'galaxie-500' %}
							{% include upcoming.html artistslug= artist.slug %}
						{% endif %}	
				{% else %}
					{% if shows %}
						<h3>{{ artist.name }} shows in {{ page.year }}</h3>
						<div class="row alert alert-info" role="alert">{% icon fa-key %} Key : {% icon fa-list %} = Setlist, {% icon fa-map-o %} = Poster, {% icon fa-camera-retro %} = Photos, {% icon fa-download %} = show available for download</div>
						<table class="table table-striped">
						{% for show in shows %}
							<tr>
							<th class="col-md-3">{{show.show-date|date: "%-d %B %Y"}}</th>
							<td class="col-md-7"><a href="{{ show.url | prepend: site.baseurl}}">{{ show.show-venue }}</a>
							</td>
							<td class="col-md-2">
							{% if show.show-setlist.size > 0 %}
								<span class="icon" title="setlist">{% icon fa-list %}</span>
							{% endif %}
							{% if show.show-poster-url %}
								<span class="icon" title="poster">{% icon fa-map-o %}</span>
							{% endif %}
							{% if show.flickr %}
								<span class="icon" title="pictures">{% icon fa-camera-retro %}</span>
							{% endif %}
							{% if show.show-download %}
								<span class="icon" title="show available for download">{% icon fa-download %}</span>
							{% endif %}


							</td>
							</tr>
						{% endfor %}  
						</table>
					{% endif %}
				{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include sidebar.html %}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>
