<!DOCTYPE html>
<html>
	{% if page.artistslug %}{% assign artist = site.data.artists[page.artistslug] %}{% endif %}
	{% assign newtitle = page.title %}
	{% include head.html %}
<body>
	{% include facebook.html %}
	{% include header.html %}
	{% include social.html %}
	<div class="container">
		<div class="wrapper col-md-9">
			<div class="row">
				<div class="col-md-12">
					<nav>
						<ul class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li>{{page.title}}</li>
						</ul>
					</nav>
				</div>
			</div>
			{% if page.categories == "primary" %}
				<div class="row">
					<a href="/{{artist.slug}}/releases/"><button type="button" class="btn btn-primary">{{artist.name}} releases</button></a>
					<a href="/{{artist.slug}}/shows/"><button type="button" class="btn btn-primary">{{artist.name}} shows</button></a>
				</div>
			{% endif %}
			<div class="row">
				<article class="post-content">
					{{ content }}
				</article>
			</div>
		</div>
		<div class="col-md-3">
			{% include sidebar.html %}
		</div>
	</div>
	{% include footer.html %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
