<!DOCTYPE html>
<html>
	{% if page.artistslug %}{% assign artist = site.data.artists[page.artistslug] %}{% endif %}
	{% assign newtitle = page.title %}
	{% include head.html %}
<body>
	{% include facebook.html %}
	{% include header.html %}
	{% include social.html %}
	<div class="container">
		<div class="wrapper col-md-9">
			<div class="row">
				<div class="col-md-12">
					<nav>
						<ul class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li>{{page.title}}</li>
						</ul>
					</nav>
				</div>
			</div>
			{% if page.categories == "primary" %}
				<div class="row">
					<a href="/{{artist.slug}}/releases/" class="btn btn-primary">{{artist.name}} releases</a>
					<a href="/{{artist.slug}}/shows/" class="btn btn-primary">{{artist.name}} shows</a>
				</div>
			{% endif %}
			<div class="row">
				{{ content }}
			</div>
		</div>
		<div class="col-md-3">
			{% include sidebar.html %}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>
