<!DOCTYPE html>
<html>
	{% if page.artistslug %}{% assign artist = site.data.artists[page.artistslug] %}{% endif %}
	{% if page.description %}{% assign description = page.description %}{% endif %}
	{% assign newtitle = page.title %}
	{% include head.html %}
<body>
	{% include tagmanager.html %}
	{% include header.html %}
	{% include social.html %}
	<div class="container">
		<div class="wrapper col-md-9">
			<div class="row">
				<div class="col-md-12">
				{% if page.position != 'home' %}
					<nav>
						<ul class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li>{{page.title}}</li>
						</ul>
					</nav>
				{% endif %}
				</div>
			</div>
			{% if page.categories == "primary" %}
			<div class="row">
				<div class="col-md-12">
					<img class="centre-block img-responsive" src="{{artist.image}}" alt="{{artist.name}} picture" />
					<ul>
					<li class="lead"><a href="/{{artist.slug}}/releases/" >{{artist.name}} releases</a></li>
					<li class="lead"><a href="/{{artist.slug}}/shows/" >{{artist.name}} shows</a></li>
					</ul>
				</div>
			</div>
			{% endif %}
			<div class="row">
				{{ content }}
			</div>
			<div class="row">
			<div id="galleria-1"></div>
			</div>
		</div>
		<div class="col-md-3">
			{% include sidebar.html %}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>
