---
layout: default
---
{%-include back_link.html-%}

<h2>{{ page.title }}</h2>

{% if page.artistslug %}{% assign artist = site.data.artists[page.artistslug] %}{% endif %}
{% if page.description %}{% assign description = page.description %}{% endif %}
{% assign page_title = page.title %}
<li><a href="/database/{{artist.slug}}/releases/" >{{artist.name}} discography</a></li>
<li><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/shows/" >{% if artist.sectionname %}{{artist.sectionname}}{% else %}{{artist.name}}{% endif %} shows</a></li>
{{ content }}
		
