---
layout: default
---
{% assign artist = site.data.artists[page.artistslug] %}
{% capture title %}{{artist.name}} - {{page.title}}{% endcapture %}
<div class="row">
    <div class="col-md-12">
                <nav>
                  <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
        <li><a href="/{{artist.slug}}">{{artist.name}}</a></li>
        <li><a href="/{{artist.slug}}/releases/">{{artist.name}} releases</a></li>
        <li>{{artist.name}} - {{page.albumname}}</li>
    </ul>
    </nav>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {% if page.notes %}
          {{ page.notes | newline_to_br }}
        {% endif %}
          {{content}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if page.releases.size > 1 %}
        <ul class="nav nav-tabs" role="tablist" id="versionstab">
              <li role="presentation" class="dropdown active">
        <a href="#" id="release-versions" class="dropdown-toggle" data-toggle="dropdown" aria-controls="release-versions-contents" aria-expanded="false">Version <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="release-versions" id="release-versions-contents">
            {% for releases in page.releases %}
            <li role="presentation"><a href="#{{ releases.version }}" aria-controls="{{ releases.version }}" role="tab" data-toggle="tab">
                {% if releases.version %}{{ releases.label }} {% endif %} 
                {% if releases.year %} {{ releases.year }} {% endif %}
                {% if releases.format %} {{ releases.format }} {% endif %}
                {% if releases.version %} ({{ releases.version }}) {% endif %}</a></li>
            {% endfor %}
        </ul>
        </li></ul>
          {% endif %}
        <div class="tab-content">
            {% for releases in page.releases %}
            <div role="tabpanel" class="tab-pane fade {% if forloop.first == true %}active in{% endif %}" id="{{ releases.version }}">
            <h3>{{ releases.label }} ({{ releases.year }})</h3>
                <div class="row">
                    <div class="col-md-6">
                        {% for group in releases.groups %}
                        {% if group.group %}
                            <strong>{{group.group}}</strong>
                        {% endif %}
                        <ul>
                            {% for track in group.tracks %}
                            <li><a href="/tracks/{{track.title|slugify}}.html ">{{track.title}}</a>
                                {% if track.author %}
                                    <em>({{track.author}})</em>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                        <ul>
                            <li>{{ releases.label }} {{ releases.catno }} ({{releases.year}})</li>
                            {% if releases.format %}<li>Format: {{releases.format}}</li>{% endif %}
                        </ul>
                        {% if releases.release_notes %}<div>{{releases.release_notes | newline_to_br}}</div>{% endif %}
                    </div>
                    <div class="col-md-6">
                        <figure>

                        {%  capture imagetest %}X{{releases.imageurl}}{% endcapture %}
                        {% if imagetest == 'X' %}
                            <img src="http://media.fullofwishes.co.uk/00-misc/ahfow-web/sleeve-required-new.jpg">
                        {% else %}
                            <img src="{{releases.imageurl}}">
                        {% endif %}
                            <figcaption>{{ page.albumname }}</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
