---
layout: default
---
{%-include header.html-%}
{%-include back_link.html-%}

<h2>{{ page.title }}</h2>
{% assign artist = site.data.artists[page.artistslug] %}
{% for datafile in site.data.discography %}
	{% assign sectionarr = datafile[0] | split: '_' %}
	{% assign section = sectionarr[1] | slice: 0 %}
	{% if sectionarr[0] contains page.artistslug %}
	{% case section %}
		{% when "0" %}
			{% if studio == nil %}{% assign studio = datafile[0] %}{% else %}
			{% capture studio %}{{ studio }}+{{ datafile[0] }}{% endcapture %}
			{% endif %}
		{% when "1" %}
			{% if singles == nil %}{% assign singles = datafile[0] %}{% else %}
			{% capture singles %}{{ singles }}+{{ datafile[0] }}{% endcapture %}
			{% endif %}
		{% when "2" %}
			{% if live == nil %}{% assign live = datafile[0] %}{% else %}
			{% capture live %}{{ live }}+{{ datafile[0] }}{% endcapture %}
			{% endif %}
		{% when "3" %}
			{% if compilation == nil %}{% assign compilation = datafile[0] %}{% else %}
			{% capture compilation %}{{ compilation }}+{{ datafile[0] }}{% endcapture %}
			{% endif %}
		{% when "4" %}
			{% if miscellaneous == nil %}{% assign miscellaneous = datafile[0] %}{% else %}
			{% capture miscellaneous %}{{ miscellaneous }}+{{ datafile[0] }}{% endcapture %}
			{% endif %}
			
	{% endcase %}
	{% endif %}
{% endfor %}
{% assign studio = studio | split: '+' %}
{% assign singles = singles | split: '+' %}
{% assign live = live | split: '+' %}
{% assign compilation = compilation | split: '+' %}
{% assign miscellaneous = miscellaneous | split: '+' %}
{% assign sections = "studio,singles,live,compilation,miscellaneous" | split: "," %}

<div>
		<h3>Studio albums</h3>
			{% for rel in studio %}
			{% assign release = site.data.discography[rel] | find: "Format", "MASTER" %}
<div>
    <h4>{{ release["Title"] }}</h4>
  <img src="{{ release["Sleeve"] }}" alt="{{ release["Artist"] }} - {{ release["Title"] }} sleeve">
    {% if release["Notes"] %}
    <p>{{ release["Notes"] | replace: "\n", "<br/>" }}</p>
    {% endif %}
    <a href="/database/{{ page.artistslug }}/releases/{{ release["Title"] | slugify: "latin" }}/">{{ release["Title"] }} details</a>

</div>
{% endfor %}
</div>
<hr>
<div>
		<h3>Singles</h3>
			{% for rel in singles %}
			{% assign release = site.data.discography[rel] | find: "Format", "MASTER" %}
<div>
    <h4>{{ release["Title"] }}</h4>
  <img src="{{ release["Sleeve"] }}" alt="{{ release["Artist"] }} - {{ release["Title"] }} sleeve">
    {% if release["Notes"] %}
    <p>{{ release["Notes"] | replace: "\n", "<br/>" }}</p>
    {% endif %}
    <a href="/database/{{ page.artistslug }}/releases/{{ release["Title"] | slugify: "latin" }}/">{{ release["Title"] }} details</a>
    </div>
{% endfor %}
</div>
<hr>
<div>
		<h3>Live albums</h3>
			{% for rel in live %}
			{% assign release = site.data.discography[rel] |  find: "Format", "MASTER" %}
<div>
    <h4>{{ release["Title"] }}</h4>
  <img src="{{ release["Sleeve"] }}" alt="{{ release["Artist"] }} - {{ release["Title"] }} sleeve">
    {% if release["Notes"] %}
    <p>{{ release["Notes"] | replace: "\n", "<br/>" }}</p>
    {% endif %}
    <a href="/database/{{ page.artistslug }}/releases/{{ release["Title"] | slugify: "latin" }}/">{{ release["Title"] }} details</a>
    </div>
{% endfor %}
</div>
<hr>
<div>
		<h3>Compilation albums</h3>
			{% for rel in compilation %}
			{% assign release = site.data.discography[rel] | find: "Format", "MASTER" %}
<div>
    <h4>{{ release["Title"] }}</h4>
  <img src="{{ release["Sleeve"] }}" alt="{{ release["Artist"] }} - {{ release["Title"] }} sleeve">
    {% if release["Notes"] %}
    <p>{{ release["Notes"] | replace: "\n", "<br/>" }}</p>
    {% endif %}
    <a href="/database/{{ page.artistslug }}/releases/{{ release["Title"] | slugify: "latin" }}/">{{ release["Title"] }} details</a>
</div>
{% endfor %}
</div>
<hr>
<div>
		<h3>Miscellaneous releases</h3>
			{% for rel in miscellaneous %}
			{% assign release = site.data.discography[rel] | find: "Format", "MASTER" %}
<div>
    <h4>{{ release["Title"] }}</h4>
  <img src="{{ release["Sleeve"] }}" alt="{{ release["Artist"] }} - {{ release["Title"] }} sleeve">
    {% if release["Notes"] %}
    <p>{{ release["Notes"] | replace: "\n", "<br/>" }}</p>
    {% endif %}
    <a href="/database/{{ page.artistslug }}/releases/{{ release["Title"] | slugify: "latin" }}/">{{ release["Title"] }} details</a>
</div>
{% endfor %}
</div>
