---
layout: default
---
{%-include header.html-%}
{%-include back_link.html-%}

{% assign day = page.ahfow.date|date: "%-d"  %}{% capture ordinaldate %}{% case day %}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{page.ahfow.date|date: "%B %Y"}}{% endcapture %}

<h2>{{ page.ahfow.artistname }} - {{ ordinaldate }}<br><span>{{ page.ahfow.venue }} - {{ description }}</h2>

				<div>
					<div>
								{% if page.ahfow.cancelled %}
								<div role="alert">
								Cancelled  
								 </div>
								 {% endif %}
				</div>
				</div>

<div>
					<div>
							<div>
							<div id="information">
								<h3>Information</h3>
							</div>

							<div>
								<table>
							<tr><th>Artist</th><td>{% if page.ahfow.artistname %}{{page.ahfow.artistname}}{% else %}{{artist.name}}{% endif %}</td></tr>

							<tr><th>Date</th><td>{{ ordinaldate }}</td></tr>
							<tr><th>Venue</th><td>
						 {{page.ahfow.venue}}
						</td></tr>

						{% if page.ahfow.audio %}
							
                        {% assign audio = page.ahfow.audio | split: "|" %}
							<tr><th>{{ audio[0] }}</th><td><a href="{{ audio[1] }}" target="_blank">{{ audio[0] }} this show</a> ({{audio[2]}})</td></tr>
						{% endif %}
					{% capture nowdate %}{{'now' | date: '%s'}}{% endcapture %}
						{% capture showdate %}{{page.ahfow.date | date: '%s'}}{% endcapture %}
						{% assign nowdate = nowdate | plus: 0 %}
						{% assign showdate = showdate | plus: 0 %}
						{% if showdate > nowdate %}
						{% unless page.ahfow.cancelled %}
							{% if page.ahfow.ticket-url %}
								<tr><th>Tickets</th><td><a href="{{page.ahfow.ticket-url}}" target="_blank">Get tickets</a></td></tr>
							{% endif %}
						{% endunless %}
							{% if page.ahfow.venue-website %}
								<tr><th>Links</th><td><a href="{{page.ahfow.venue-website}}" target="_blank">Venue details</a></td></tr>
							{% endif %}
						{% endif %}
					</table>
							</div>
						</div>
					</div>
				</div>


						{% if page.ahfow.notes != "" %}
						<div>
							<div>
								<div>
									<div id="notes">
										<h3>Notes</h3>
									</div>
									<div>
										<p>{{ page.ahfow.notes }}</p>
									</div>
						  	<div>
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if page.ahfow.performers %}
                        {% assign performers = page.ahfow.performers | split: "|" %}
						<div>
							<div>
								<div>
									<div id="performers">
										<h3>Performers</h3>
									</div>
									<div>
										<ul>
										{% for performer in performers %}
											<li>{{ performer }}</li>
										{% endfor %}
										</ul>
									</div>
						  	<div>
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}


						{% if page.ahfow.support %}
						<div>
							<div>
								<div>
									<div id="support">
										<h3>Support</h3>
									</div>
									<div>
										<ul>
										{% for act in page.ahfow.support %}
												<li>{{act}}</li>
										{% endfor %}
										</ul>
									</div>
						  	<div>
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}



						{% if page.ahfow.setlist %}
                        {% assign setlist = page.ahfow.setlist | split: "|" %}
						<div>
							<div>
								<div>
									<div id="setlist">
										<h3>Setlist</h3>
										{% if page.ahfow.setlist-source %}<p><small>source: {{ page.ahfow.setlist-source }}</small></p>{% endif %}
									</div>
									<div>
										<ul>
										{% for track in setlist %}
											{% capture hastrack %}{{track.title}}{% endcapture %}
											{% if hastrack == '' %}
												{% if track contains '^' %}
													<li>{{track | remove_first:'^'}}</li>
												{% else %}
												{% if track contains '[' %}
									{% assign tracktitle = track | split: " [" %} 
									{% assign ttitle = tracktitle[0] %}
									{% assign tnotes = tracktitle[1] | remove: "]" %}
								{% else %}
									{% assign ttitle = track %}
									{% assign tnotes = nil %}
								{% endif %}
												<li>

														<a href="/database/tracks/{{ttitle|remove: "'"|slugify: "latin"}}/">{{ttitle}}</a> {% if tnotes %}&nbsp;({{tnotes}}){% endif %}
</li>
												{% endif %}
											{% else %}
												{% if track.title contains '^' %}
													<li>{{track.title | remove_first:'^'}}</li>
												{% else %}
								{% if track.title contains '[' %}
									{% assign tracktitle = track | split: " [" %} 
									{% assign ttitle = tracktitle[0] %}
									{% assign tnotes = tracktitle[1] | remove: "]" %}
								{% else %}
									{% assign ttitle = track.title %}
									{% assign tnotes = nil %}
								{% endif %}
												<li>
														<a href="/database/tracks/{% if track.link %}{{track.link}}{% else %}{{track.title|slugify: "latin"}}{% endif %}/">{{ttitle}}</a>{% if tnotes %}&nbsp;({{tnotes}}){% endif %}
													</li>
												{% endif %}
											{% endif %}
										{% endfor %}
										</ul>
									</div>
						  	<div>
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}
				


						{% if page.ahfow.poster-url %}
						<div>
							<div>
								<div>
									<div id="poster">
										<h3>Poster</h3>
									</div>
									<div>
										<figure>
											<img src="{{page.ahfow.poster-url}}" alt="Poster for {{page.ahfow.date|date: '%-d %B %Y'}} at {{ page.ahfow.venue }}" />
											<figcaption>
												Poster for {{page.ahfow.date|date: "%-d %B %Y"}} at {{ page.ahfow.venue }}
											</figcaption>
										</figure>
									</div>
						  	<div>
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}


