---
layout: default
---
{%- include back_link.html -%}

<h2>Shows in {{ page.display_location }}</h2>

<p>{{ page.shows.size }} {% if page.shows.size == 1 %}show{% else %}shows{% endif %} in {{ page.display_location }}.</p>

<table>
{% for show in page.shows %}
  {% assign day = show.date | date: "%-d" %}
  {% capture ordinaldate %}{% case day %}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{ show.date | date: "%B %Y" }}{% endcapture %}
  <tr>
    <th>{{ ordinaldate }}</th>
    <td>
      {% if show.artistname %}<span>{{ show.artistname }}</span>
      {% else %}<span class="show-details">{{ show.artist_slug }}</span>
	  {% endif %}<br>
     <a href="{{ site.baseurl }}/{{ show.artist_slug }}/shows/{{ show.show-slug }}/">
        {%- if show.event -%}{{ show.event }},&nbsp;{%- endif -%}
        {%- if show.venue -%}{{ show.venue }},&nbsp;{%- endif -%}
        {%- if show.city -%}{{ show.city }},&nbsp;{%- endif -%}
        {%- if show.state -%}{{ show.state }},&nbsp;{%- endif -%}
        {%- if show.country -%}{{ show.country }}{%- endif -%}
      </a><br/>
	  {% if show.series %}<span class="show-details">{{ show.series }}</span>{% endif %}
      {% if show.setlist %}<span class="show-details">setlist</span>{% endif %}
      {% if show.poster-url %}<span class="show-details">poster</span>{% endif %}
      {% if show.audio %}{% assign audio = show.audio | split: "|" %}<span class="show-details">{{ audio[0] | downcase }}</span>{% endif %}
    </td>
  </tr>
{% endfor %}
</table>

<p><a href="{{ site.baseurl }}/shows-by-city/{{ page.country_slug }}/">&larr; All cities in {{ page.country }}</a></p>

<p><div role="alert">The lists of shows are far from complete! If you know of any that are missing <a href="mailto:andy@fullofwishes.co.uk">please get in touch</a>.</div></p>
