---
layout: default
---
{% assign day = page.ahfow.date|date: "%-d"  %}{% capture ordinaldate %}{% case day %}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{page.ahfow.date|date: "%B %Y"}}{% endcapture %}
<h2>{{ page.ahfow.artistname }} - {{ ordinaldate }}<br><span class="small">{{ page.ahfow.venue }}</h2>

				<div class="row">
					<div class="col">
								{% if page.ahfow.cancelled %}
								<div class="alert alert-danger" role="alert">
								Cancelled  
								 </div>
								 {% endif %}
				</div>
				</div>

<div class="row">
					<div class="col">
							<div class="card mb-3">
							<div class="card-header bg-light" id="information">
								<h3>Information</h3>
							</div>

							<div class="card-body">
								<table class="table mb-0">
							<tr class="border-top-0"><th>Artist</th><td>{% if page.ahfow.artistname %}{{page.ahfow.artistname}}{% else %}{{artist.name}}{% endif %}</td></tr>

							<tr><th>Date</th><td>{{ ordinaldate }}</td></tr>
							<tr><th>Venue</th><td>
						 {{page.ahfow.venue}}
						</td></tr>

						{% if page.ahfow.download %}
							<tr><th>Download</th><td><a href="{{ page.ahfow.download }}" target="_blank">Download this show</a> ({{page.ahfow.download-site}})</td></tr>
						{% endif %}
					{% capture nowdate %}{{'now' | date: '%s'}}{% endcapture %}
						{% capture showdate %}{{page.ahfow.date | date: '%s'}}{% endcapture %}
						{% assign nowdate = nowdate | plus: 0 %}
						{% assign showdate = showdate | plus: 0 %}
						{% if showdate > nowdate %}
						{% unless page.ahfow.cancelled %}
							{% if page.ahfow.ticket-url %}
								<tr><th>Tickets</th><td><a href="{{page.ahfow.ticket-url}}" target="_blank">Get tickets</a></td></tr>
							{% endif %}
						{% endunless %}
							{% if page.ahfow.venue-website %}
								<tr><th>Links</th><td><a href="{{page.ahfow.venue-website}}" target="_blank">Venue details</a></td></tr>
							{% endif %}
						{% endif %}
					</table>
							</div>
						</div>
					</div>
				</div>


						{% if page.ahfow.notes != "" %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="notes">
										<h3>Notes</h3>
									</div>
									<div class="card-body">
										<p>{{ page.ahfow.notes }}</p>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if page.ahfow.performers %}
                        {% assign performers = page.ahfow.performers | split: "|" %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="performers">
										<h3>Performers</h3>
									</div>
									<div class="card-body">
										<ul>
										{% for performer in performers %}
											<li>{{ performer }}</li>
										{% endfor %}
										</ul>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}


						{% if page.ahfow.support %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="support">
										<h3>Support</h3>
									</div>
									<div class="card-body">
										<ul>
										{% for act in page.ahfow.support %}
												<li>{{act}}</li>
										{% endfor %}
										</ul>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}



						{% if page.ahfow.setlist %}
                        {% assign setlist = page.ahfow.setlist | split: "|" %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="setlist">
										<h3>Setlist</h3>
									</div>
									<div class="card-body">
										<ul>
										{% for track in setlist %}
											{% capture hastrack %}{{track.title}}{% endcapture %}
											{% if hastrack == '' %}
												{% if track contains '^' %}
													<li class="text-muted">{{track | remove_first:'^'}}</li>
												{% else %}
													<li>
														<a href="/database/tracks/{{track|slugify}}/">{{track}}</a></li>
												{% endif %}
											{% else %}
												{% if track.title contains '^' %}
													<li class="text-muted">{{track.title | remove_first:'^'}}</li>
												{% else %}
													<li>
														<a href="/database/tracks/{% if track.link %}{{track.link}}{% else %}{{track.title|slugify}}{% endif %}/">{{track.title}}</a>{% if track.notes %}&nbsp;({{track.notes}}){% endif %}
													</li>
												{% endif %}
											{% endif %}
										{% endfor %}
										</ul>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}
				


						{% if page.ahfow.poster-url %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-info" id="poster">
										<h3>Poster</h3>
									</div>
									<div class="card-body">
										<figure class="figure">
											<img class="img-fluid" src="{{page.ahfow.poster-url}}" alt="Poster for {{page.ahfow.date|date: '%-d %B %Y'}} at {{ page.ahfow.venue }}" />
											<figcaption class="figure-caption">
												Poster for {{page.ahfow.date|date: "%-d %B %Y"}} at {{ page.ahfow.venue }}
											</figcaption>
										</figure>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}


